*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.nav-container{
    margin-bottom: 40px;
}

.nav1{
    background-color: #f9f8fa;
    padding: 10px;
}

.nav1 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav1 a{
    position: relative;

}

.nav1 a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #ff8000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
}

.nav1 a, .login-btn{
    text-decoration: none;
    color: #121212;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.login-btn{
    color: #fff;
    background-color: #ff8000;

}